$def with (endpoint, app_name)
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title></title>

    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="PyBossa - ...">
    <meta name="author" content="">

    <!-- Le HTML5 shim, for IE6-8 support of HTML elements -->
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <!-- Bootstrap styles -->
    <link rel="stylesheet" href="$endpoint/static/vendor/bootstrap/2.0.4/bootstrap.min.css">
    <link rel="stylesheet" href="$endpoint/static/vendor/bootstrap/2.0.4/bootstrap-responsive.min.css">

    <!-- Our styles -->
    <link rel="stylesheet" href="/static/css/pybossa-apps.css">

    <!-- Le javascript -->
    <script type="text/javascript" src="$endpoint/static/vendor/jquery.js"></script>
    <script type="text/javascript" src="$endpoint/static/vendor/bootstrap/2.0.4/bootstrap.js"></script>
 </head>

  <body>
    <div style="text-align:center" class="loading">loading..</div>

    <div class="container" style="display:none; margin-top:30px">
      <div class="row"><div class="span8 offset2">
        <div class="hero-unit">
          <h1 class="app-name"></h1>

          <p class="app-description"></p>

          <div class="app-long-description">

          </div>
        </div>
        <div style="text-align:center">
          <a class="btn btn-large btn-primary solve-tasks" href="">Do some Tasks!</a>
          <a class="btn btn-large login" href="">Log-In</a>
        </div>
      </div>
    </div>
    <script type="text/javascript">

      window.pybossa_apps = {
        endpoint: "$endpoint",
        app_name: "$app_name",
        view: "app"
      };

    </script>
    <script type="text/javascript" src="/static/js/pybossa-apps.js"></script>

  </body>
</html>
