$def with (endpoint, app_name, app_title)
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title></title>

    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="PyBossa - ...">
    <meta name="author" content="">

    <!-- Le HTML5 shim, for IE6-8 support of HTML elements -->
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <!-- Bootstrap styles -->
    <link rel="stylesheet" href="$endpoint/static/vendor/bootstrap/2.0.4/bootstrap.min.css">
    <link rel="stylesheet" href="$endpoint/static/vendor/bootstrap/2.0.4/bootstrap-responsive.min.css">

    <!-- Our styles -->
    <link rel="stylesheet" href="/static/css/pybossa-apps.css">

    <!-- Le javascript -->
    <script type="text/javascript" src="$endpoint/static/vendor/jquery.js"></script>
    <script type="text/javascript" src="/static/js/jquery.cookie.js"></script>
    <script type="text/javascript" src="$endpoint/static/vendor/bootstrap/2.0.4/bootstrap.js"></script>
 </head>

  <body>

    <div class="container" style="margin-top:30px">
      <div class="row"><div class="span8 offset2">
        <div class="hero-unit">
          <h1 class="app-name">$app_title</h1>
          <div style="text-align:center" class="loading">loading progress data..</div>
          <div class="progress progress-striped active"><div class="bar" style="width: 1%;"></div></div>

        </div>
        <div class="app-progress">
          
        </div>
        <div style="text-align:center">
          <a class="btn btn-large" href="/$app_name">Return</a>
        </div>
      </div>
    </div>
    <div class="container footer">
      <div class="row">
          <div class="span12 content"><span><a href="https://github.com/gka/pybossa-apps">PyBossa Apps</a> is a lightweight framework for running stand-alone <a href="http://pybossa.com">PyBossa</a> apps.</span></div>
      </div>
    </div>
    <script type="text/javascript">

      window.PyBossaApp = {
        endpoint: "$endpoint",
        app_name: "$app_name",
        view: "progress"
      };

    </script>
    <script type="text/javascript" src="/static/js/pybossa-apps.js"></script>
    <script type="text/javascript" src="/static/js/jquery.cookie.js"></script>

  </body>
</html>
